<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body class="<%= dataForm.color %>">
    <a href="/logout">Desloguearse</a>
    <br>
    <a href="/colorout">Olvidar Color</a>
    <h1>
        <%= dataForm.nombre %> , gracias por visitarnos.
    </h1>
</body>

</html>